@model IEnumerable<QuadFace.Models.SampleData>

@{
    ViewBag.Title = "Index";
}

<h3 class="text-primary text-info"> Sample Data </h3>

<table class="table table-responsive">
    <tr class="alert-success">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td class="col-sm-pull-8">
            @Html.ActionLink("Edit", "Edit",  new { id=item.Id }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>

<div class="panel-footer">
    @Html.ActionLink("Create New", "Create")
</div>

<script>
    //var tempval = 1 + 2 + '3';
    //alert(tempval);

    //(function () { var foo = 'bar'; alert(foo); })();
    (function () {
        foo = bar;
        alert(foo);
    })();

  
</script>
